

#titulo h2{
    font-size: 1.6em;
    margin-bottom: 20px;
  
}


.dados{
    color: #fff;
    
}

.dados table tr{
    
   
}

.dados table td{
    padding: 5px 0px;
}

select{
    padding: 3px;
    border-radius: 3px;
}

select:focus{
    outline: 1px solid red;
}

input{
    width: 96%;
    border: none;   
    color: #666;
    font-size: 1em;   
    border-radius: 3px;
    padding: 3px;
}


table{
    width: 100%;
}

input:focus{
    outline: 1px solid red;
}

button{
    border: none;
    border-radius: 3px;
    padding: 4px;
}

textarea{
    width: 100%;
    border: none;
    border-radius: 3px;
}

textarea:focus{
    outline: 1px solid red;
}

.servico{
    color: #fff;
    padding: 30px 10px;    
}

.servico tr{
    display: flex;   
    align-items:flex-end;
}

.servico table td{
   margin-right: 10px;
}

#listaServicos{
    color: #fff;
    font-size: 1.2em;
    margin: 10px 20px;
    list-style:circle ;
}

.remove-button {
    cursor: pointer;
    color: red;
    padding: 0 6px;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 0.8em;
    margin-left: 10px;
}

.addservice{
    
}

#save{

    float: right;
   
}
 
hr{
    color: #fff;
}

#fileDocs{
    color: #fff;
    font-size: 1em;
}

.guardar{
    margin: 20px;
}

.contratosSalvos{
    width: 100%;
    height: 100%;
    color: #fff;
    box-shadow: 5px 5px 5px 5px rgb(39, 39, 39);
    margin-top: 50px;
    background-color: #313131;
}

.box-dados{
   
}

.item-lista{
  
    margin-top: 5px;
    padding: 10px;
}

.item-lista table thead tr{

}
.item-lista table thead td{
    
}


#dados{

}

.detalhes{
    width: 100%; 
    display: none;
   
    padding: 10px;
}

#defesa {
  width: 100%;    

}

.itens{

}

.details {
  width: 100%;
  height: auto;
  display: none;
  justify-content: space-between;
  
}

#valorContrato{

}

.uni-item{
    border-top: 2px solid #b4b4b4;
}

.espansao{    
   border: 10px solid #b4b4b4;
}
