body {
    background-image: url("../../source/img/asfalto-estrada-.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

.login-container {
    width: auto;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2e1;
    justify-content: center;
    border-radius: 3px;    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.form-group {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.form-group label{
    font-size: 1em;
    margin: 12px 0px;
}

.form-group button{
    font-size: 1.4em;
}

.form-group a{
    list-style: none;    
    color: #000;
    
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    
    font-size: 1.1em;
}

.forgot-password {
    font-size: 1em;   
    margin-bottom: 10px;
}

.inputSubmit {
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0e;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#remember{
   
    
}

#logoLogin{
    width: 100px;
    margin: 0 auto;
}


/* Tela de cadastrro */

#box-signup{
    width: 40%;
    height: 60%;
    background-color: #fff;
}






