body {
    margin: 0;
    padding: 0;
    background-image: url("../img/fundo2.png");
    background-size: cover; 
    background-position: center;
    min-height: 100VH;
}

#logo{
    position: absolute;
    
}

#container {    
    width: 100vw;
    height: auto;
    display: grid;
    justify-content: center;
    align-items:center ;    
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 80px 100px 0 100px;    
}

#card {
    width: 100%;
    color: #fff;    
    font-size: 1em;
    border-radius: 5px;
    
}

#text {
    font-size: 1em;
    color: black;
    margin: 10px 0 0 0;
}

#args{
    width: 100%;
}

#args input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}


#card button{
    width: 100%;
    height: auto;
    border: none;    
    background-color: rgb(3, 0, 0, 0.8);
    color: white;
    font-size: 1.2em;
    transition: transform 0.8s ease;
}

#card button:hover{ 
    background-color: rgba(151, 151, 151, 0.575);
    transform: scale(1.05);
    color: black;
}



#Enviar {
    width: 100%;
    border: none;
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 5px;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    align-items:flex-start;
    justify-content: center;
  }

  .modal-content {

    width: 30%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;   
  }

  .expand-button {
    
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
  }

  .container{
    width: 100vw;
    height: 100vh;   
    background-color: white;
  }

  .row{
    height: 100px;
  }

#dashboard{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 3em;
    background-color: rgba(255, 1, 1, 0.349);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0 10px;
}

#dashboard a{
    font-size: 3em;
}

