#container{
    width: 80%;
    margin-top: 20px;
}

.row{
  margin: 0;
  padding: 0;
}



.boxBusca{
    width: 100%;
    height: auto;
    background-color: #333;
    border-radius: 5px;
    padding:20px;
    margin-top: 30px;
    
}


#buscaTipo{
    width: 100%;
    padding: 0;
    margin: 0;
}


#busca{
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px;
    justify-content: center;
    
}


#alinhar{
    width: auto;
    border: none;
    margin-right: 5px;
    margin-left: 30px;
    padding: 5px;
    transform: scale(1.5);   
    
}

#busca label{
    color:rgb(255, 255, 255);
    list-style: none;
    
}


#alinhar:checked + label{
    color: #929292;
}



#buscaDado{
    width: 100%;
   
      
}

#buscaDado input{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

#buscar{
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 20px auto;   
    font-size: 1.1em; 
    font-weight: 600;
    border: 1px solid #c3c3c3;
    color: #fff;
    background-color: #222;
}

#buscar:hover{
    background-color: rgb(42, 108, 151);

}

#resultadoBusca{
    width: 100%;
    background-color: #333;
    padding: 20px 30px 30px 30px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    color: #fff;
}

.box-dados{
   
  }

  .item-lista{
   
    margin-top: 5px;
    padding: 10px;
  }

  #dados{

  }

  .detalhes{
    width: 100%; 
    display: none;
    
   padding: 10px;
  }
  
  #defesa {
    width: 100%;    
 
  }

  .itens{

  }
  
  .details {
    width: 100%;
    height: auto;
    display: none;
    justify-content: space-between;
    
  }


  table{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;    
  }

  tr.divider {
    border-top: 5px solid #ececec; 
  }

  td input{
    border: 1px solid #c4c4c4;
  }

  .item-lista th{
    background-color: #ac4a09;
    color: white;
  }
  
 th, td{
   
    padding: 0 5px;
  }

  tr{    
    line-height: 30px;
    
  }



  #salvar, #pontos, #multas{
    width: 200px;
    height: 40px;
    margin: 10px 0;
    background-color: rgb(106, 108, 117);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
  }

 












