<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    
    <!--Menu Light e Dark-->
    <div class="navbar">
        <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
        </svg>
        <div class="switch">
            <i class="fas fa-sun"></i>
            <span class="switch__track"></span>
            <i class="fas fa-moon"></i>
        </div>
    </div>

    <div id="container">
        <section class="column1">
          <div class="buttons">
              <button class="button" onclick="showContent(1)">Todos os processos</button>
              <button class="button" onclick="showContent(2)">Suspensão</button>
              <button class="button" onclick="showContent(3)">Cassação</button>
              <button class="button" onclick="showContent(4)">Multas</button>
          </div>
        </section>
            <section class="column2 bar-chart" id="content">
                        
            </section>
        </div>

    <footer>
        <div class="footer-text">
            
            <p class="footer-text__copyright">CNh-Help Todos os direitos Reservados</p>

        </div>
    </footer>

    <script>
        const chartData = {
          1: [10, 20, 30, 40, 50, 46, 38, 20, 30, 40, 50, 10],  // Dados do gráfico 1
          2: [5, 15, 25, 35, 45, 21, 44, 73, 28, 87, 20, 30],   // Dados do gráfico 2
          3: [15, 25, 35, 45, 55, 15, 25, 35, 79, 99, 20, 30],   // Dados do gráfico 3
          4: [12, 15, 5, 15, 75, 40, 50, 10, 10, 40, 15, 68]   // Dados do gráfico 4
        };
    
        const chartOptions = {
          type: 'bar',  // Tipo de gráfico (linha neste exemplo)
          data: {
            labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez',],
            datasets: [{
              label: 'Processos',
              data: [],
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        };
    
        const contentDiv = document.getElementById('content');
        const chartCanvas = document.createElement('canvas');
        contentDiv.appendChild(chartCanvas);
        const chartContext = chartCanvas.getContext('2d');
        const chart = new Chart(chartContext, chartOptions);
    
        function showContent(contentNumber) {
          chart.data.datasets[0].data = chartData[contentNumber];
          chart.update();
    
          const buttons = document.querySelectorAll('.button');
          buttons.forEach(button => button.classList.remove('selected'));
          const clickedButton = document.querySelector(`.button:nth-child(${contentNumber})`);
          clickedButton.classList.add('selected');
        }
      </script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.27.3/apexcharts.min.js" integrity="sha512-nKTh1Ik8Kzbrxo9A6xOBtEbzdNYcjI4Pr5XE88sNJQk87sY8mBlUfh61lYm0i710r5mGcIZ9tWSwORQbQ4plQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/scripts.js"></script>
</body>
</html>