<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>GAIDE</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>   

   <div class="row">
    <!-- ----------------------------------------------------------------------Sidebar -->
        <div class="containner">
            <div class="navbar">
                <div class="perfil">
                    <img src="../img/logCNHHELP.svg" alt="logo" class="logo">
                </div>
                
                <div class="sidebar row">

                    <a href="perfilUsuario.html" class="hover">
                        <span class="material-symbols-outlined">person</span>
                        <span>Perfil do Usuário</span>                            
                    </a>

                    <a href="perfilEmpresa.html" class="hover">
                        <span class="material-symbols-outlined">store</span>
                        <span>Perfil da empresa</span>                            
                    </a>

                    <a href="rh.html" class="hover">
                        <span class="material-symbols-outlined">person_play</span>
                        <span>Recursos Humanos</span>                            
                    </a>

                    <a href="financeiro.html" class="hover">
                        <span class="material-symbols-outlined">payments</span>
                        <span>Financeiro</span>                            
                    </a>

                    <a href="clientes.html" class="hover">
                        <span class="material-symbols-outlined">groups</span>
                        <span>Clientes</span>                            
                    </a>

                    <a href="marketing.html" class="hover">
                        <span class="material-symbols-outlined">support_agent</span>
                        <span>Marketing</span>                           
                    </a>

                    <a href="servicos.html" class="hover">
                        <span class="material-symbols-outlined">folder_open</span>
                        <span>Serviços</span>                            
                    </a>

                    <a href="dashboard.html" class="hover">
                        <span class="material-symbols-outlined">trending_up</span>
                        <span>Painel</span>                                
                    </a>

                </div>                

                <div class="acount">
                    <div class="name">
                        <span>Nome do funcionario</span>
                    </div>
                    <div class="exit">                    
                        <span>Sair</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="container" class="">
<!-- ----------------------------------------------------------------Modificador Mês -->
            <div class="row" id="titulo">
                <h2>Página de pesquisa</h2>
            </div>
<!-- -----------------------------------------------------------------------linha 1 -->
            <div class="boxBusca">
                <div class="row" id="buscaTipo">
                    <form id="busca">
                        <input type="radio" name="opcao" value="condutor" id="alinhar"><label for="condutor">Condutor</label><br>
                        <input type="radio" name="opcao" value="contrato" id="alinhar"><label for="contrato">Contrato</label><br>
                        <input type="radio" name="opcao" value="contratante" id="alinhar"><label for="contratante">Contratante</label><br>                    
                        <input type="radio" name="opcao" value="recurso" id="alinhar"><label for="recurso">Recurso</label><br>
                        <input type="radio" name="opcao" value="veiculo" id="alinhar"><label for="veiculo">Veículo</label><br>
                      </form>     
                </div>
    <!-- -----------------------------------------------------------------------linha 2 -->
                <div class="row" id="buscaDado">
                    <input type="text" name="dado" id="dadodabusca" placeholder="Informe o dado da busca"><br><br>              
                    
                </div>
                <div class="row">
                    <button type="button" id="buscar">Buscar</button>
                </div>
                
            </div>

            <div class="row" id="resultadoBusca">
                <div class="box-dados" > <!--Caixa com informação -->
                    <div class="item-lista" onclick="toggleDetails('detalhes1')">             
                        <table>  
                            <tr>
                                <th><strong>Nome:</strong></th>  
                                <th><strong>Processo:</strong></th>    
                                <th><strong>Situaço:</strong></th>    
                                <th><strong>Ultimo evento:</strong></th>    
                                <th><strong>Tipo:</strong></th>    
                            </tr>  
                            <tr>
                                <td><span>Soraya Lopes Ribeiro</span></td>
                                <td><span>E-12/016/5225-02</span></td>
                                <td><span>Transitado</span></td>
                                <td><span>Entrega de CNH</span></td>
                                <td><span>Suspensão</span></td>
                            </tr>                    
                            
                        </table>
                    </div>        
                    <div class="detalhes" id="detalhes1">
                        <table> 
                            <tr id="dados">
                                <th><strong>CPF:</strong></th>
                                <th><strong>CNH:</strong></th>
                                <th><strong>PCNH:</strong></th>
                                <th><strong>Nascimento:</strong></th>
                            </tr>
                            <tr>
                                <td>12921930773</td>
                                <td>0700123454</td>
                                <td>01-01-2018</td>                        
                                <td>28-10-1988</td>  
                            </tr> 
                            <td colspan="4"><br></td>
                                               
                            <tr id="protocolos">                       
                                <th><strong>Protocolo Defesa Prévia:</strong></th>
                                <th><strong>Protocolo 1º Instância:</strong></th>
                                <th><strong>Protocolo 2º Instância:</strong></th>
                                <th><strong>Vendedor:</strong></th>                   
                            </tr>
                            <tr>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>                            
                                <td><input type="text" placeholder="Vendedor" value="Felipe"></td>
                            </tr>
                            <tr id="prazos">                   
                                <th><strong>Prazo Defesa Prévia:</strong></th>
                                <th><strong>Prazo 1º Instância:</strong></th>
                                <th><strong>Prazo 2º Instância:</strong></th>
                                <th><strong>Monitorar:</strong></th>
                            </tr>
                            <tr>
                                <td>01-01-2023</td>
                                <td>01-01-2023</td>
                                <td>01-01-2023</td>                        
                                <td><div class="radio-container">
                                    <label class="radio-label">
                                    <input type="radio" name="tipo" value="sim" checked> Sim
                                    </label>
                                    <label class="radio-label">
                                    <input type="radio" name="tipo" value="nao"> Não
                                    </label>
                                </div></td>
                            </tr> 
                            <tr id="resultados">               
                                
                                <th><strong>Resultado Defesa Prévia:</strong></th>
                                <th><strong>Resultado 1º Instância:</strong></th>
                                <th></th>
                                <th><strong></strong></th>
                            </tr>
                            <tr>
                                <td>01-01-2023</td>
                                <td>01-01-2023</td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                            <td colspan="4"><br></td>
                            <tr>
                                
                                <th colspan="4" style="width: 100%;"><strong >Observações:</strong></th>             
        
                            </tr>
                            <tr>
                                <td colspan="4"><textarea rows="4" style="width: 100%;" type="text" placeholder="Observações" value="aidnaoendwdbaufaundadwn"></textarea></td>
                            </tr>
                        </table><br>
                        <div class="row">
                            <div class="col-6">
                                <button id="salvar">Salvar</button>
                            </div>
                            <div class="col-6">
                                <button id="pontos">Consultar pontos</button>
                                <button id="multas">Consultar multas</button>
                            </div>
                        </div>
                    </div>
                                            
                </div> 
            </div>

        </div>
   </div>

<script>
    function toggleDetails(id) {
      const detalhes = document.getElementById(id);
      detalhes.style.display = detalhes.style.display === 'block' ? 'none' : 'block';
    }
</script>

<script>
$(document).ready(function() {
    $(".item-lista").click(function() {
        $(this).find(".detalhes").toggle();
    });
});
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>