<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/modelo.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>CNH-HELP</title>
</head>
<body>
    <a href="listagens.html"><img id="logo" src="../img/logo.png" alt="logo" ></a>

    <div id="container">

        <div id="card">
            <button id="button1" class="expand-button" onclick="toggleModal('modal1'); closeModalOnClickOutside('modal1')">PMRJ</button>
            <div id="modal1" class="modal-overlay">
                <div class="modal-content" id="args">
                    <span id="text">PLACA</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>

        <div id="card">
            <button id="button2" class="expand-button" onclick="toggleModal('modal2'); closeModalOnClickOutside('modal2')">RADAR</button>
            <div id="modal2" class="modal-overlay">
                <div class="modal-content" id="args">
                    <span id="text">PLACA</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">RENAVAM</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>

        <div id="card">
            <button id="button3" class="expand-button" onclick="toggleModal('modal3')">DETRAN-RJ</button>
            <div id="modal3" class="modal-overlay">
                <div class="modal-content"  id="args">
                    <span id="text">CPF</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">CNH</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">UF</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>
        
        <div id="card">
            <button id="button4" class="expand-button" onclick="toggleModal('modal4')">GAIDE</button>
            <div id="modal4" class="modal-overlay">
                <div class="modal-content" id="args">
                    <span id="text">RENAVAM</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">PLACA</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">CPF</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">COD.DETRAN</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>

        <div id="card">
            <button id="button5" class="expand-button" onclick="toggleModal('modal5')">DECLINK</button>
            <div id="modal5" class="modal-overlay">
                <div class="modal-content" id="args">
                    <span id="text">COD.DETRAN</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>
        
        <div id="card">
            <button id="button6" class="expand-button" onclick="toggleModal('modal6')">ATUALIZAÇÃO BD</button>
            <div id="modal6" class="modal-overlay">
                <div class="modal-content" id="args">
                    <span id="text">RENAVAM</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">PLACA</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">CPF</span>
                    <input type="text" placeholder="Clique para digitar">                    
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>

        <div id="card">
            <button id="button7" class="expand-button" onclick="toggleModal('modal7')">-----</button>
            <div id="modal7" class="modal-overlay">
                <div class="modal-content" id="args">
                    <span id="text">CPF</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">COD.DETRAN</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>

        <div id="card">
            <button id="button8" class="expand-button" onclick="toggleModal('modal8')">-----</button>
            <div id="modal8" class="modal-overlay">
                <div class="modal-content" id="args">
                    <span id="text">RENAVAM</span>
                    <input type="text" placeholder="Clique para digitar">
                    <span id="text">COD.DETRAN</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="container" onclick="closeModalOnClickOutside('modalId')">
        <div id="card">
            <button id="button9" class="expand-button" onclick="toggleModal('modal9')">INTRANET</button>
            <div id="modal9" class="modal-overlay">
                <div class="modal-content" id="args">                    
                    <span id="text">COD.DETRAN</span>
                    <input type="text" placeholder="Clique para digitar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </div>
        </div>

    </div>
    <a href="dashboard.html" id="dashboard"><i class="fas fa-chart-line"></i></a>

    <script>
        // Função para alternar a exibição do modal
        function toggleModal(modalId) {
          const modal = document.getElementById(modalId);
          if (modal.style.display === 'flex') {
            modal.style.display = 'none';
          } else {
            // Fechar todos os modais abertos
            const modals = document.querySelectorAll('.modal-overlay');
            modals.forEach(function(modal) {
              modal.style.display = 'none';
            });
            modal.style.display = 'flex';
          }
        }

        function closeModalOnClickOutside(modalId) {
        const modal = document.getElementById(modalId);
        window.addEventListener('click', function(event) {
            if (event.target === modal) {
                modal.style.display = 'none';
                }
            });
        }
      </script>
    
</body>
</html>