<!DOCTYPE html>
<html>
<head>
    <title>CRUD de Contratos</title>
   
</head>
<body>

    <h1>Lista de Alunos</h1>

    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cor</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td><input type="text" id="nome"></td>
            <td><input type="number" id="idade"></td>
            <td><input type="text" id="cor"></td>
            <td><button onclick="addAluno()">Adicionar</button></td>
        </tr>
    </table>

    <div>
        <h2>Alunos</h2>
        <ul id="listaAlunos">
        </ul>
    </div>
    

    <script>
        function addAluno() {
            const nome = document.getElementById('nome').value;
            const idade = document.getElementById('idade').value;
            const cor = document.getElementById('cor').value;

            if (nome && idade && cor) {
                const listaAlunos = document.getElementById('listaAlunos');
                const listItem = document.createElement('li');
                listItem.textContent = `Nome: ${nome}, Idade: ${idade}, Cor: ${cor}`;
                const removeButton = document.createElement('span');
                removeButton.textContent = ' X';
                removeButton.classList.add('remove-button');
                removeButton.onclick = function() {
                    listaAlunos.removeChild(listItem);
                };
                listItem.appendChild(removeButton);
                listaAlunos.appendChild(listItem);

                // Limpar os campos de entrada
                document.getElementById('nome').value = "";
                document.getElementById('idade').value = "";
                document.getElementById('cor').value = "";
            }
        }
    </script>

</body>
</html>
